*.o
*.lo
*.la

ACM/ADbg/Makefile
ACM/Makefile
ACM/ddk/Makefile
ACM/tinyxml/Makefile
Dll/Makefile
Makefile
config.h
config.log
config.status
debian/Makefile
doc/Makefile
doc/html/Makefile
doc/man/Makefile
dshow/Makefile
frontend/.deps/
frontend/Makefile
frontend/lame
include/Makefile
libmp3lame/.deps/
libmp3lame/.libs/
libmp3lame/Makefile
libmp3lame/i386/Makefile
libmp3lame/vector/.deps/
libmp3lame/vector/.libs/
libmp3lame/vector/Makefile
libtool
mac/Makefile
macosx/English.lproj/Makefile
macosx/LAME.xcodeproj/Makefile
macosx/Makefile
misc/.deps/
misc/Makefile
mpglib/.deps/
mpglib/.libs/
mpglib/Makefile
stamp-h1
vc_solution/Makefile
